*{
    margin:0;
    padding:0;
    letter-spacing:1px;
    font-family:sans-serif;
    font-weight: 300;
   
}

body{
    overflow-x: hidden;
}

nav{
    height:4rem;
    width:100vw;
    display:flex;
    position:fixed;
    z-index:100;
    color:#f2f5f7;
    background-color: #053742;
    box-shadow:0 3px 20px rgba(0,0,0,0.2);

}

.logo{
    padding:3vh 1vw;
    text-align:left;
    width:20vw;

}

.logo img{
    height:auto;
    width:2.5rem;
}

.navlinks{
    width:80vw;
    display:flex;
    pad:0 0.7vw;
    justify-content:space-evenly;
    align-items:center;
    text-transform: uppercase;
    list-style: none;
    font-weight:600;

}

.navlinks li a{
    color:#f2f5f7;
    margin:0 0.7vw;
    text-decoration:none;
    transition:all ease-in-out 350ms;
    padding:10px;
}

.navlinks li a:hover{
    color:#000;
    background-color:#fff;
    padding:10px;
    border-radius:50px;

}

.navlinks li{
    position:relative;

}
.navlinks li a:hover::before{
    width:80%;
}

.login-button{
    padding:0.6rem 0.8rem;
    margin-left:2vw;
    font-size: 1rem;
    cursor:pointer;
    color:#f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    border-radius: 2em;
}
.login-button:hover{
    color:#fff;
    background-color: #dd5f24;
    border:1.5px solid #dd5f24;
    transition:all ease-in-out 350ms;
}
.hamburger div{
    width:30px;
    height:3px;
    background: #f2f5f7;
    margin:5px;
    transition:all 0.3s ease;
}

.hamburger{
    display:none;
}

main{
    padding-top:6rem;
    background-color: #fff;
    color:#000;
    text-align: center;

}


.footer{
    background-color: #053742;
    color:antiquewhite;
    padding:2%;
    text-align:center;
    width:100%;
    height:10rem;
  
  }
  .footer a{
    color:antiquewhite;
    text-decoration: none;

  }

  .fa {
    padding:15px 12px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border-radius:50%;
  }
  .fa:hover{
      transform:scale(120%);
  }
      
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background:#ea4c89;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

@media (max-width:800px){
    nav{
        position:fixed;
        z-index:10;
    }
    .logo{
        padding: 2vh 4vw;
    }
    .hamburger{
        display:block;
        position:absolute;
        cursor:pointer;
        right:5%;
        top:50%;
        transform:translate(-5%,-50%);
        z-index:5;
        transition:all 0.7s ease;

    }

    .navlinks{
        background:#053742;
        position:fixed;
        opacity:1;
        height:100vh;
        width:100%;
        flex-direction:column;
        clip-path:circle(50px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;

    }
    .navlinks.open{
        clip-path:circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .navlinks li{
        opacity:0;
        
    }
    .navlinks li:nth-child(1){
        transition:all 0.5s ease 0.2s; 
    }
    .navlinks li:nth-child(2){
        transition:all 0.5s ease 0.4s; 
    }
    .navlinks li:nth-child(3){
        transition:all 0.5s ease 0.6s; 
    }
    .navlinks li:nth-child(4){
        transition:all 0.5s ease 0.7s; 
    }
    .navlinks li:nth-child(5){
        transition:all 0.5s ease 0.8s; 
    }
    .navlinks li:nth-child(6){
        transition:all 0.5s ease 0.9s; 
    }
    .navlinks li:nth-child(7){
        transition:all 0.5s ease 1s;
        margin:0;
    }
    li.fade{
        opacity:1;
    }
    .toggle .bars1{
        transform:rotate(-45deg) translate(-5px,6px);
    }
    .toggle .bars2{
        transition:all 0.2s ease;
        width:0;
    }
    .toggle .bars3{
        transform:rotate(45deg) translate(-5px,-6px);
    }


}